#header-title {
    text-align: center;

}

section {
    margin: 5px 0;
}

section>div>ul>li {
    margin: 0 0 3px 0;
}

section>div>ul>li>header {
    margin: 3px 0;
}

section>div>ul>li>.details {
    margin: 0 0 0 15px;
}

section>div>ul>li>.details>p {
    margin: 0 0 5px;
}

footer {
    margin: 10px 0;
}